﻿<%@  Page Language="C#" Debug="true" %>
<script language="C#" runat="server">

	public void Page_Load(Object sender, EventArgs e)
 	{
		Session.Abandon();
		Response.Redirect("/index.aspx");
	}
	
</script>