#container {
	width: 970px;
	margin: 0px;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5F4334;
}

#navigation {
	width: 250px;	
	border: 1px solid #999;
	float: left;
}

#content {
	width: 700px;	
	padding: 5px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	height: 500px;
	float: left;
}

#workingArea {
	padding: 5px;	
}

.navItem {
	margin: 5px;
	margin-bottom: 10px;
}

.navTitle {
	font-size: 14px;
	font-weight: bold;
	color: #5F4334;
}

.subNavItem {
	margin-left: 10px;
	padding: 3px;
	font-size: 12px;
}

a {
	color: #5F4334;
}

a:hover {
	text-decoration: none;
}

#nav a {
	margin: 5px;
}

#header {
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px solid #B28F57;
}

#toolbar {
	background-color: #B28F57;
	height: 30px;
	vertical-align: middle;
}

input {
	font-size: 11px;
	background: #efefef;
	color: #5F4334;
}

.outset {
	border: 1px outset;
		
}

select {
	border: 1px;
	font-size: 11px;
	background: #efefef;
	color: #5F4334;
}

.wineOnly {
	display: none;
}

.packOnly {
	display: none;
}

		.validation-failed { /* for textboxes, textareas, passwords */
			border:1px dashed #F33;
			background-color:#FCC;
		}

		.validation-failed-cr { /* for checkboxes and radios */
			border:1px dashed #F33;
			background-color:#FCC;
		}

		.validation-failed-sel { /* for selects */
			border:1px dashed #F33;
			background-color:#FCC;
		}
		
		.validation-passed { /* for textboxes, textareas, passwords */

		}

		.validation-passed-cr { /* for checkboxes and radios */

		}

		.validation-passed-sel { /* for selects */

		}
		
.customer {
	width: 680px;
	clear: both;
	cursor: pointer;
	padding: 5px;
	margin-bottom: 10px;
}

.customer .name {
	float: left;
	width: 150px;
}

.customer .brand {
	float: left;
	width: 150px;
}

.customer .email {
	float: left;
	width: 175px;
}

.customer .anniversary {
	float: left;
	width: 175px;
}

.note {
	width: 670px;
	clear: both;
	border-bottom: 1px solid #666;
	padding: 3px;
}

.order {
	width: 670px;
	clear: both;
	border-bottom: 1px solid #666;
	cursor: pointer;
	padding: 3px;
}
	
.order .shipTo {
	float: left;
	width: 150px;
}

.order .billTo {
	float: left;
	width: 150px;
}

.order .orderTotal {
	float: left;
	width: 100px;
}

.order .orderDate {
	float: left;
	width: 175px;
}

.order .status {
	float: left;
	width: 45px;
}

#err {
	font-weight: bold;
	color: #C33;
	padding: 5px;
	font-size: 20px;
}

.fieldSet {
	width: 675px;
	padding: 5px;
	clear: both;
}

.fieldSet legend {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 5px;
}
table {
	width: 100%;	
}

#bodyWrapper {
	position: relative;
	width: 925px;
  	margin: 0px auto;
  padding-top: 50px;
  width: 1024px;
  margin: 0px auto;
  z-index: 0;
}


/* Masthead */
#masthead {
	margin: 0px auto;
	height: 45px;
	position: fixed;
	width: 100%;
	clear:both;
	z-index: 1;
	border-bottom: 1px solid #333;
    box-shadow: 0 0 2px #ccc;
	background: white;
}

#masthead #wrapper {
	margin: 0px auto;
	margin-top: 5px;
	position: relative;
	height: 40px;
	width: 1080px;	
	background: url('/logo_drinks.png') no-repeat top right;
}

.tabs {
	float: left;
	margin-top: 14px;	
}

.tabs ul {
	list-style: none;	
	padding: 0px;
	margin: 0px;
}

.tabs li { 
	list-style: none;	
  float: left; 
  padding: 0px;
  margin: 0px;
}
.tabs a { 
  /* Make them block level
     and only as wide as they need */
  float: left; 
  padding: 5px 20px; 
  text-decoration: none;
  
  /* Default colors */ 
  color: white;
  background:  #CCC; 
  
  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
  border-right: 1px solid #999;
}
.tabs .active {
  /* Highest, active tab is on top */
  z-index: 3;
}
.tabs .active a { 
  /* Colors when tab is active */
  background: #666; 
  color: white; 
}
	th {
		text-align: left;
		font-weight: bold;
		cursor: s-resize;	
		background-color: #0CF;
		color: white;
	}
	
	th,td {
		padding: 5px;	
		border: 1px solid #efefef;
	}
	
	tfoot td {
		border: none;	
	}
	
	tr:hover {
		background-color: #efefef;	
	}

  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
	label.error { float: none; color: red; padding-left: .5em; vertical-align: top; font-size: 12px; }

<!--[if IE]>
  .clearfix {
    zoom: 1;     /* triggers hasLayout */
    }  /* Only IE can see inside the conditional comment
    and read this CSS rule. Don't ever use a normal HTML
    comment inside the CC or it will close prematurely. */

<![endif]-->