<!-- troon asn template -->

<p>Dear *|name|*,</p>
<p>Troon Wine Club is pleased to announce the wines that will be 
sent exclusively to our members this month—and it is a spectacular line-up!  Truly 
phenomenal wines from some of the great wine producing countries of the world - delivered directly to your door!</p>
<p><a href='http://www.barclayswine.com/shipment_notification.aspx?membership_uid=*|uid|*'>Click here</a> to check out the upcoming selection.</p>
<p>In vino veritas!</p>
<p>Troon Wine Team</p>
<p>Please contact us at (877) 998-7666 if you have any questions or concerns. </p>
