﻿<%@  Page Language="C#" Debug="true" %>
<%@ Assembly src="/bin/Order.cs" %>
<%@ Assembly src="/bin/Utilities.cs" %>
<%@ Import Namespace="Wine" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
<%@ Import Namespace="System.IO" %> 
<script language="C#" runat="server">
	
	Order o = new Order();
   	public void Page_Load(Object sender, EventArgs e)
 	{
		DataTable dt = o.GetDupes();
		
		string lastID = "";
		string lastEmail = "";
		string currentID = "";
		foreach (DataRow r in dt.Rows) {
			currentID = r["Email"].ToString();
			if (currentID == lastEmail) 
			{
				Response.Write(r["CustomerID"].ToString() + " --> " + lastID + " (merged)<br/>");
				o.MergeAccount(r["CustomerID"].ToString(), lastID);
			} else {
				lastID = r["CustomerID"].ToString();
				lastEmail = r["Email"].ToString();
			}
		}
	}
	
</script>
 