﻿<%@  Page Language="C#" Debug="true" %>
<%@ Import Namespace="System.Net" %>
<script language="C#" runat="server">

	public void Page_Load(Object sender, EventArgs e)
 	{
		if (Request["action"] == "send") {
			string url = "http://send.barclayswine.com/iwc/newsletter.aspx?email=" + Request["email"] + "&subscribe=" + Request["subscribe"];
			
			WebClient client = new WebClient();
			client.OpenRead(url);
			Response.Write("Subscribed to newsletter.");
		}
	}

</script>
