﻿<%@  Page Language="C#" Debug="true" %>
<%@ Assembly src="/bin/Order.cs" %>
<%@ Assembly src="/bin/Utilities.cs" %>
<%@ Import Namespace="Wine" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Collections" %>
<%@ Import Namespace="System.IO" %>
<script language="C#" runat="server">
	
	Order o = new Order();
   	public void Page_Load(Object sender, EventArgs e)
 	{
		if (Request["action"] == "upload") {
			int counter = 0;
			using (StreamReader sr = new StreamReader(file.PostedFile.InputStream)) 
			{
				string line;
				string[] splitted;
				char[] splitter = { ',' };
						
				while ((line = sr.ReadLine()) != null) 
				{					
					splitted = line.Split(splitter);
					try {
						if (splitted[0] != null && splitted[1] != null && splitted[2] != null && splitted[3] != null) {
							o.AddVoucher(splitted[0].ToString(), splitted[1].ToString().Replace(" ", ""), splitted[2].ToString(), splitted[3].ToString()); 
							counter++;
						}
					} catch {
						;	
					}
				}
				
				Response.Write(counter + " voucher added.");
			}
		}
	}
	
</script>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Upload Vouchers</title>
<link rel="stylesheet" type="text/css" href="../style.css" media="screen" />
<style>
	body {
		margin: 0px;	
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
	}
</style>
</head>

<body style="padding: 5px; font-weight: bold;">
CSV FORMAT: Code,CampaignID,ExpirationDate,<strong>Value</strong> - <span style="color: #EA3235">NOTE: Value is new - enter the price the customer paid for this voucher (ex: $25 for a $25 for $75 voucher deal). </span>
<hr />
<form action="" method="post" enctype="multipart/form-data" runat="server" style="padding: 5px;">
	Select a file to upload:<br />
	<input id="file" name="file" type="file" runat="server" style="margin: 5px;">
	<br>
    <input type="hidden" value="upload" name="action" id="action" />
<input type="submit" value="Upload Voucher Codes" style="margin: 5px;" />
</form>
</body>
</html>
