﻿<%@  Page Language="C#" Debug="true" %>
<%@ Import Namespace="ZendeskApi_v2" %>
<%@ Import Namespace="ZendeskApi_v2.Models.Tickets" %>
<%@ Import Namespace="ZendeskApi_v2.Models.Constants" %>
<%@ Import Namespace="ZendeskApi_v2.Models" %>
<script language="C#" runat="server">

	public void Page_Load(Object sender, EventArgs e)
 	{
		try {
		ZendeskApi api = new ZendeskApi("https://drinks.zendesk.com/api/v2", "cintra@drinks.com", "", "I6WpWIZa9T3Ix2ZqFqDajrw5NWe47SMPme4iHQyE"); 
		
		var res = api.Groups.GetGroups();
		
		for (int i = 0; i < res.Count; i++) {
			Response.Write(res.Groups[i].Id.Value + " " + res.Groups[i].Name + "<br />");
		}
		
		} catch (Exception ex) {
			Response.Write(ex.ToString());	
		}
	}
	

</script>