<!-- Subject: Oh no! We couldn't process your order. Please call us ASAP. -->

<p>Dear *|FIRST_NAME|*,</p>
<p>In order to send you the fantastic wines in the current shipment of your *|CLUB_NAME|* , we need to update the credit card information that we have on file for your account. Please contact us at *|CS_PHONE|* - we'll quickly process your order and get amazing wines whisked to your doorstep.  </p>
<p>Thank you for your continued membership. We truly appreciate your faith in us to curate a selection of delicious, great-value wines from around the world.  </p>
<p>Cheers,  </p>
<p>*|BRAND|*</p>
<p> *|CS_EMAIL|*  |  *|CS_PHONE|*</p>
<p>Reference: Customer ID #*|CUSTOMER_ID|*</p>
