﻿<%@ Control Language="C#" %>
<script language="C#" runat="server">
	public void Page_Load(Object sender, EventArgs e)
 	{
		
	}
</script>


	<div id="masthead" class="clearfix">
    	<div style="height: 40px; width: 230px; margin-right: 15px; float: right; padding-top: 10px;">
        	<a href="#" style="color: white;">My Account</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="#" style="color: white;">Shopping Cart</a>
        </div> 
    	<div style="height: 120px; width: 350px; margin-left:35px; float: left; cursor: pointer" onClick="document.location = 'index.aspx'">
        	&nbsp;
        </div>
	</div> 