body {
	background-color: #581022;
	margin: 0px;
	padding: 0px;
	color: #5F4334;
	font-family: arial, verdana;
	font-size: 11px;
}

table {
	font-size: 11px;
}

#container {
	margin-top: 5px;
	margin-bottom: 5px;
}

#logo {
	background-image: url(/images/nav_logo.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 307px;
	height: 160px;
}

#menu {
	background-image: url(/images/nav_main_bg.jpg);
	background-repeat: no-repeat;
	float: left;
	width: 646px;
	height: 160px;
	text-align: right;
	font-size: 18px;
	padding-top: 65px;
}

#menu a {
	padding-left: 70px;
	padding-right: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#content {
	background-image: url(/images/body_main_bg.jpg);
	background-repeat: repeat;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #B28F57;
	padding-bottom: 20px;
	height: auto;
	float: none;
}


#header {
	text-align: left;
	margin-left: 40px;
	margin-bottom: 5px;
}

#copy {
	background-color: #ffffff;
	width: 880px;
	margin-bottom: 5px;
	padding: 5px;
	padding-bottom: 15px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #B28F57;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #B28F57;
}

#copy p {
	padding: 5px;
}

#footer {
	font-family: arial, verdana;
	font-size: 12px;
	padding: 7px;
	height: 25px;
	text-align: right;
	font-size: 12px;
	color: #B28F57;
}

#footer a {
	color: #B28F57;
}

a {
	color: #5F4334;
}

a:hover {
	text-decoration: none;
}

.formLabel {
	font-weight: bold;
	text-align: top;
}


